# Environment variables for the application
# Replace the placeholder values with your actual configuration
# Then rename this file to .env and ensure it is included in your .gitignore to keep sensitive information secure

MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority"
JWT_SECRET="your_jwt_secret_key"
GMAIL_APP_PASSWORD="your_gmail_app_password"
GMAIL_USER="your_gmail_user@gmail.com"
RESEND_API_KEY="your_resend_api_key"
GOOGLE_ANALYTICS_ID="your_google_analytics_id"